################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prudhvi.BookStore/.vs/Prudhvi.BookStore/v16
/Prudhvi.BookStore/Prudhvi.BookStore/obj
